.radar-chart {
  .level {
    stroke: grey;
    stroke-width: 0.5;
  }

  .axis line {
    stroke: grey;
    stroke-width: 1;
  }
  .axis .legend {
    font-family: sans-serif;
    font-size: 10px;
  }
  .axis .legend.top {
    dy: 1em;
  }
  .axis .legend.left {
    text-anchor: start;
  }
  .axis .legend.middle {
    text-anchor: middle;
  }
  .axis .legend.right {
    text-anchor: end;
  }

  .tooltip {
    font-family: sans-serif;
    font-size: 13px;
    transition: opacity 200ms;
    opacity: 0;
  }
  .tooltip.visible {
    opacity: 1;
  }

  /* area transition when hovering */
  .area {
    stroke-width: 2;
    fill-opacity: 0.5;
  }
  &.focus .area {
    fill-opacity: 0.1;
  }
  &.focus .area.focused {
    fill-opacity: 0.7;
  }

  .circle {
    fill-opacity: 0.9;
  }

  /* transitions */
  .area,
  .circle {
    transition: opacity 300ms, fill-opacity 200ms;
    opacity: 1;
  }
  .d3-enter,
  .d3-exit {
    opacity: 0;
  }
}
